@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IranSansWeb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IranSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/IranSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/IranSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/IranSansWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
        //  url('../fonts/IranSansWeb.svg#svgFontName') format('svg'); /* Legacy iOS */
}
#monitoringCtrl-accordion{
    font-family: 'IranSans' !important;
}
.highcharts-credits
{
    display: none;
}

.byte-info{
    direction: ltr;
}

.inline-info{
    padding: 0px 10px 0px 10px;
}
#host-dnsServers{
    margin: 0px 2px 0px 2px;
}
.storages-info-panel{
    margin-bottom: 10px;
}
.nics-info-panel{
    margin-bottom: 10px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }