<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/monitoringCtrl.min.css">
    <title>FramePlayer Stage</title>

</head>

<body style="margin: 10px;" dir="auto">
    <div class="container-fluid row" style="margin:0px;padding:0px;">
        <div class="col-md-10" style="padding: 0px;">
            <div id="samim-monitoringCtrl" ></div>
        </div>
        <!-- <div class="col-md-2 border border-secondary rounded bg-light" style="padding: 0px; max-height:550px; overflow-y:scroll; background: white;"> -->
    <div class="col-md-2 border border-secondary rounded bg-light" style="padding: 0px; max-height:550px; overflow-y:scroll; background: white;">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link active" role="tab" data-toggle="pill" href="#Setup" id="SetupMenu">Setup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="pill" href="#Options" id="OptionsMenu">Options</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="pill" href="#Hotkeys" id="HotkeysMenu">Hotkeys</a>
          </li> -->
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane show active" id="Setup" role="tabpanel" aria-labelledby="SetupMenu">
                
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-language" style="min-width: 100px;">Language</label>
                    <select class="custom-select" id="module-language" style="min-width: 100px;">
                        <option value="en">EN</option>
                        <option value="fa">FA</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-expandAll" style="min-width: 100px;">Expand All</label>
                    <select class="custom-select" id="module-expandAll" onchange="" style="min-width: 100px;">
                        <option value='true'>True</option>
                        <option value='false' selected>False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-host" style="min-width: 100px;">host section</label>
                    <select class="custom-select" id="module-section-host" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-os" style="min-width: 100px;">os section</label>
                    <select class="custom-select" id="module-section-os" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-cpu" style="min-width: 100px;">cpu section</label>
                    <select class="custom-select" id="module-section-cpu" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-ram" style="min-width: 100px;">ram section</label>
                    <select class="custom-select" id="module-section-ram" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-storages" style="min-width: 100px;">storages section</label>
                    <select class="custom-select" id="module-section-storages" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-nics" style="min-width: 100px;">nics section</label>
                    <select class="custom-select" id="module-section-nics" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <div class="input-group" style="margin: 10px auto;width: 200px;">
                    <label class="input-group-addon" for="module-section-functions" style="min-width: 100px;">functions section</label>
                    <select class="custom-select" id="module-section-functions" onchange="" style="min-width: 100px;">
                        <option value='true' selected>True</option>
                        <option value='false' >False</option>
                    </select>
                </div>
                <button class="btn btn-primary" onclick="moduleInit()" style="min-width: 200px;display: block;margin: 10px auto;width: 200px;">Init Module</button>
                <button class="btn btn-danger" onclick="destroyNow()" style="min-width: 200px;display: block;margin: 10px auto;width: 200px;">Destroy Module</button>
            </div>
             
            <div class="tab-pane" id="Options" role="tabpanel" aria-labelledby="OptionsMenu">
                
            </div>
<!-- 
            <div class="tab-pane" id="Hotkeys" role="tabpanel" aria-labelledby="HotkeysMenu">
                
            </div> -->
        </div>
    </div>
        <br>

    </div>


    <script type="text/javascript">
        //////////// Start Function Declaration
        function moduleInit(value) {
            var inputObj;
            var language = $("#module-language").val();
            var expandAll = ($("#module-expandAll").val() == 'true')? true:false;
            var host = ($("#module-section-host").val() == 'true')? true:false;
            var os = ($("#module-section-os").val() == 'true')? true:false;
            var cpu = ($("#module-section-cpu").val() == 'true')? true:false;
            var ram = ($("#module-section-ram").val() == 'true')? true:false;
            var storages = ($("#module-section-storages").val() == 'true')? true:false;
            var nics = ($("#module-section-nics").val() == 'true')? true:false;
            var functions = ($("#module-section-functions").val() == 'true')? true:false;
            
            
            monitorThatUp(language, expandAll, host, os, cpu, ram,storages,nics,functions);
        }
        function destroyNow() {
            $("#samim-monitoringCtrl").monitoringCtrl('destroy');
        }
        var monitorThatUp = function(lang, expandAll, host, os, cpu, ram,storages,nics,functions){
            try {
                $("#samim-monitoringCtrl").monitoringCtrl('destroy');
            } catch (error) {
                console.log('%c' + error.name, 'background: #222; color: #bada55');
                console.log('%c' + error.message, 'background: #222; color: #bada55');
            }

            var fp;
            fp = $("#samim-monitoringCtrl").monitoringCtrl({
                input:{
                    data: 'data/monitor.json',
                },
                modules: {
                    host: host,
                    os: os,
                    cpu: cpu,
                    ram: ram,
                    storages: storages,
                    nics: nics,
                    functions: functions,
                },
                config: {
                    lang: lang,
                },
                markup: {
                    accordionExpandAll: expandAll,
                },
            });
        }; 
        document.addEventListener("DOMContentLoaded", function (event) {

            var pluginHandler = function () {

                
                var fp;
                fp = $("#samim-monitoringCtrl").monitoringCtrl({
                    input:{
                        data: 'data/monitor.json',
                    },
                    modules: {
                        host: false,
                        os: false,
                        cpu: true,
                        ram: true,
                        storages: true,
                        nics: true,
                        functions: true,
                    },
                });

                var conf = $('#samim-monitoringCtrl').monitoringCtrl("instance").options;
                $("#module-language").val(conf.config.lang.toString());
                $("#module-exandAll").val(conf.markup.accordionExpandAll.toString());
                $("#module-section-host").val(conf.modules.host.toString());
                $("#module-section-os").val(conf.modules.os.toString());
                $("#module-section-cpu").val(conf.modules.cpu.toString());
                $("#module-section-ram").val(conf.modules.ram.toString());
                $("#module-section-storages").val(conf.modules.storages.toString());
                $("#module-section-nics").val(conf.modules.nics.toString());
                $("#module-section-functions").val(conf.modules.functions.toString());
                
            };
            pluginHandler();
            // $('#target').resizable({
            //     helper: 'ui-resizable-helper',
            //     aspectRatio: true,
            //     minWidth: 800,
            // });
            //////////// End Function Declaration
        });
    </script>
    <script src="libs/jquery.js"></script>
    <script src="libs/konva.js"></script>

    <script type="text/javascript" src="libs/popper.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/monitoringCtrl.min.js"></script>
    <script type="text/javascript" src="libs/jquery-ui.accordion.multiple.js"></script>
    
</body>

</html>